id=nethunter_takeover_@@TARGET@@
name=NetHunter Takeover @@TARGET@@
version=@@VERSION@@
versionCode=@@VERSION_CODE@@
author=WildKernel
description=Reversible hardware control for @@TARGET@@. Built-in radios, USB profiles, GNSS bridge.
target=@@TARGET@@
device=@@DEVICE_CODENAME@@
model=@@DEVICE_MODEL@@
build_fingerprint=@@BUILD_FINGERPRINT@@
kernel_release=@@KERNEL_RELEASE@@
config_sha256=@@CONFIG_SHA256@@
sha256_wifi=@@SHA_QCA@@
sha256_btvhci=@@SHA_BTVHCI@@
sha256_nxp_nci=@@SHA_NXP_NCI@@
sha256_nci_raw_tool=@@SHA_NCI_RAW_TOOL@@
capability_wifi=@@CAPABILITY_WIFI@@
capability_bt=@@CAPABILITY_BT@@
capability_nfc=@@CAPABILITY_NFC@@
capability_usb=@@CAPABILITY_USB@@
capability_gnss=@@CAPABILITY_GNSS@@
